<h1>School</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add
</button>

<!--<table  id="table_id" class="display">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Class</th>-->
<!--        <th>Phone</th>-->
<!--        <th>Email</th>-->
<!--        <th>Update</th>-->
<!--        <th>Delete</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    </tbody>-->
<!--</table>-->



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form autocomplete="off" action="/teacher" method="post" enctype="application/x-www-form-urlencoded">
                <div class="modal-body">

                    <input type="text" id="addName" name="name" placeholder="Name">
                    <select name="class_id">
                        <% data.forEach(function(item){ %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                        <% }); %>
                    </select>
                    <input type="text" id="addPhone" name="phone" placeholder="Phone">
                    <input type="email" id="addEmail" name="email" placeholder="Email">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <form action="/school/update" method="post" enctype="application/x-www-form-urlencoded">-->
<!--                <div class="modal-body">-->

<!--                    <input type="text" id="editName" name="name" placeholder="School Name">-->
<!--                    <input type="text" id="editAddress" name="address" placeholder="School Address">-->
<!--                    <input type="text" id="editPhone" name="phone" placeholder="School Phone">-->
<!--                    <input type="text" id="editWebsite" name="website" placeholder="School Website">-->
<!--                    <input type="hidden" id="editId" name="id" value="">-->

<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                    <button type="submit" class="btn btn-primary">Save changes</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<script>
    $(document).ready( function () {
        $('#table_id').DataTable({
            "processing": true,
            "serverSide": true,
            ajax:{
                type: "GET",
                url:"/teacher/serverside",
                data:function (data){
                    columnsDef:["id","name","class","phone","email"]
                }
            },
            columns:[
                {data:'name'},
                {data:'class'},
                {data:'phone'},
                {data:'email'},
                {data:'update'},
                {data:'delete'},
            ],
            columnDefs:[

                {targets:4,
                     render:function (data,type,row,meta){
                    var rowData=encodeURIComponent(JSON.stringify(row));
                        return `<button  onclick="editbtn('${rowData}')">Update</button>`
                     }
                },
                {targets:5,
                    render:function (data,type,row,meta){
                        return `<a href="/teacher/delete/${row._id}" onclick="return confirm('Are you sure to delete this record ?');">Delete</a>`

                    }
                }
            ]
        });
    } );
    function editbtn(id){

        var data=JSON.parse(decodeURIComponent(id));
        $("#editName").val(data.name)
        $("#editAddress").val(data.address)
        $("#editPhone").val(data.phone)
        $("#editWebsite").val(data.website)
        $("#editId").val(data._id)
        $("#exampleModalEdit").modal("show");
    }

    function addbtn(id){
        $.ajax({
            url: "class/getall",
            dataType: "json",
            type: "Get",
            async: true,
            success: function (data) {


            },
            error: function (xhr, exception, thrownError) {

            }
        });

    }

    // function addbtn(){
    //     $("#exampleModal").modal("show");
    // }

</script>
