
<h1>Book</h1>

<table  id="table_id" class="display">
    <thead>
    <tr>
        <th>Title</th>
        <th>Update</th>
        <th>Delete</th>

    </tr>
    </thead>
    <tbody>

    </tbody>


</table>

<script>
    $(document).ready( function () {
        $('#table_id').DataTable({
            "processing": true,
            "serverSide": true,
            ajax:{
                type: "GET",
                url:"/album/get",
                data:function (data){
                    columnsDef:["title",]
                }
            },
            columns:[
                {data:'title'},
                {data:'update'},
                {data:'delete'},
            ],
            columnDefs:[

                {targets:1,
                    render:function (data,type,row,meta){
                        var rowData=encodeURIComponent(JSON.stringify(row));
                        return `<button  onclick="editbtn('${rowData}')">Update</button>`
                    }
                },
                {targets:2,
                    render:function (data,type,row,meta){
                        return `<a href="/book/delete/${row._id}" onclick="return confirm('Are you sure to delete this record ?');">Delete</a>`

                    }
                }
            ]
        });
    } );
    function editbtn(id){
        var data=JSON.parse(decodeURIComponent(id));
        $("#editName").val(data.name)
        $("#editId").val(data._id)
        $("#exampleModalEdit").modal("show");
    }

    function deletebtn(id){

    }

    // function addbtn(){
    //     $("#exampleModal").modal("show");
    // }

</script>
